{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <section class="card card-body">
        <h1 class="text-center">Inventory</h1>
        <p class="text-justify">Aplicación para gestionar Inventario. De lo que sea, para lo que sea.
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}