{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <section class="card card-body">
        <h1 class="text-center">InventStory</h1>
        <p class="text-center">Write your book's next chapter with InventStory - Your ultimate book inventory app
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}