{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <section class="card card-body">
        <h1 class="text-center">Inventory Portal</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis aliquam a culpa officia minus eius eum eaque aspernatur ullam illo?
        </p>
        <div class="d-flex flex-row justify-content-center p-2">
            <a class="btn btn-secondary me-1" href="/new_item/">
                Nuevo Item
            </a>
            <a class="btn btn-secondary me-1" href="/publisher_mgmt/">
                Gestión Editoriales
            </a>
            <a class="btn btn-secondary me-1" href="/classification_mgmt/">
                Gestión Clasificaciones
            </a>
        </div>
    </section>
</main>
{% endblock %}