{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <div class="row card card-body">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Crear Item</h1>
            <form action='/inventory/' method = 'POST' class="card card-body">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Save
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}